@{
    ViewData["Title"] = "Home Page";
}
<h1>Filters</h1>
<div class="row">
    <ul>
        <li>
            Display Action Duration -
            <a asp-controller="Home" asp-action="RandomTime">Demo</a>
        </li>
        <li>
            Filter Ordering (click then view log output) -
            <a asp-controller="Ordering" asp-action="Index">Demo</a>
        </li>
        <li>
            Random Number Service Filter
            <a asp-controller="RandomNumber" asp-action="GetRandomNumber">Demo</a>
        </li>
    </ul>
</div>
