@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Random Time</title>
</head>
<body>
    <div>
        <h1>Random Time</h1>
        This action sleeps for a random period of time up to 2000ms.
    </div>
    <footer>
        Execution Time: @ViewData["actionDuration"] ms
    </footer>
</body>
</html>